<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.ht.mapper.RoleMapper">

<!-- <select id="findAll" resultType="Role">
	select * from role_p order by order_no
</select> -->

<!-- 复用SQL中的语句 -->
<sql id="insertColumn">
	#{createBy,jdbcType=VARCHAR},
	#{createDept,jdbcType=VARCHAR},
	#{createTime,jdbcType=DATE},
	#{updateBy,jdbcType=VARCHAR},
	#{updateTime,jdbcType=DATE}
</sql>
	<sql id="updateColumn">
		update_by=#{updateBy,jdbcType=VARCHAR},
		update_time=#{updateTime,jdbcType=DATE}
	</sql>

	<delete id="deleteRole">
		delete from role_p where role_id in
		<foreach collection="array" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
	</delete>
	
	<insert id="addRole">
		insert into role_p values(
			#{roleId,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{remarks,jdbcType=VARCHAR},
			#{orderNo,jdbcType=INTEGER},    
			<include refid="insertColumn"></include>
		)
	</insert>
	<update id="updateRole">
		update role_p set 
		name=#{name},
		order_no = #{orderNo},
		remarks=#{remarks},
		<include refid="updateColumn"></include>
		where role_id = #{roleId}
	</update>
	
	
	
</mapper>