<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<!-- 开启属性注解 -->
<!-- 	<context:annotation-config/>
	<bean id="user" class="pojo.User3"></bean>
	<bean id="dog" class="pojo.Dog"></bean>
	<bean id="cat" class="pojo.Cat"></bean> -->
	<!-- 类的注解 -->
	<!-- 开启包扫描 -->
	<context:component-scan base-package="pojo"></context:component-scan>
	
	<!-- 引入外部配置文件 -->
	<!-- location 写配置文件的具体路径 -->
	<context:property-placeholder location="classpath:/1.properties"/>
</beans>
