<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.order.mapper.OrderMapper">
	<insert id="saveOrder" parameterType="Orders">
		insert into tb_order 
		(order_id,payment,payment_type,post_fee,status,payment_time,consign_time,end_time,close_time,shipping_name,shipping_code,user_id,buyer_message,buyer_nick,buyer_rate,create_time,update_time) 
		values (#{orderId},#{ payment},#{ paymentType},#{ postFee},#{ status},#{ paymentTime},#{ consignTime},#{ endTime},#{ closeTime},#{ shippingName},#{ shippingCode},#{userId},#{ buyerMessage},#{ buyerNick},#{ buyerRate},now(),now())
		;
		
		insert into tb_order_item 
		(item_id,order_id,num,title,price,total_fee,pic_path)
		values 
		<foreach collection="orderItems" item="item" separator=",">
			(#{item.itemId},#{orderId},#{item.num},#{item.title},#{item.price},#{item.totalFee},#{item.picPath})
		</foreach>
		;
		
		insert into tb_order_shipping 
		(order_id,receiver_name,receiver_phone,receiver_mobile,receiver_state,receiver_city,receiver_district,receiver_address,receiver_zip,created,updated)
		values(#{orderId},#{orderShipping.receiverName},#{orderShipping.receiverPhone},#{orderShipping.receiverMobile},#{orderShipping.receiverState},#{orderShipping.receiverCity},#{orderShipping.receiverDistrict},#{orderShipping.receiverAddress},#{orderShipping.receiverZip},now(),now())
		;
	</insert>
	<resultMap type="Orders" id="orderRM" autoMapping="true">
		<id column="order_id" property="orderId"/>
		<association select="queryOrderShippingByOrderId" property="orderShipping" javaType="OrderShipping" column="order_id">
			<id column="order_id" property="orderId"/>
		</association>
		<collection select="queryOrderItemByOrderId" property="orderItems" ofType="OrderItem" column="order_id">
			<id column="order_id" property="orderId"/>
			<id column="item_id" property="itemId"/>
		</collection>
	</resultMap>
	<select id="queryOrderByOrderId" parameterType="String" resultMap="orderRM">
		select * from tb_order where order_id=#{orderId}
	</select>
	<select id="queryOrderItemByOrderId" parameterType="String" resultType="OrderItem">
		select * from tb_order_item where order_id=#{orderId}
	</select>
	<select id="queryOrderShippingByOrderId" parameterType="String" resultType="OrderShipping">
		select * from tb_order_shipping where order_id=#{orderId}
	</select>
	<update id="paymentOrderScan">
		update tb_order set status = 6 ,close_time = now() where payment_type = 1 and status = 1 and create_time &lt;= #{date}
	</update>
	
</mapper>